/*Element Styles*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  margin-top: 0;
  padding: 25px;
  font-size: 1.4em;
  text-transform: uppercase;
  color: white;
}


h2 {
  color: #2d3945;
  font-size: 1.4em;
}

p {
  color: #9da3a8;
  font-size: 1.1em;
}

footer {
  color: #9da3a8;
  font-size: .9em;
  font-style: italic;
  padding: 1em 0 15em 0;
}

/*Reusable Class Styling*/

.left-align {
  text-align: left;
}

/*Header Styles*/

.header-bar {
  background-color: #2d3945;
}

.header-news {
  width: 92%;
  margin: auto;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 2px solid #000;  
}

  .header-news::before {
    content:"";
    position: absolute;
    left:0;
    bottom:5px;
    width:100%;
    height:4px;
    background:#000;
  }

    .padded-top {
      padding-top: 10px;
    }

    .padded-bottom {
      padding-bottom: 15px;
    }

/*Form Styles*/

fieldset {
  border-style: none;
}

#contact-info{
  width: 90%;
  margin: auto;
  border-bottom: 2px solid black;
}

  label{
    display: block;
    text-align: left;
    color: #9da3a8;
    padding: 10px;
    margin: 5px 0;
  }


/*Placeholder Styling*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a8adb2;
  text-align: right;
  font-size: .9em;
  font-style: italic;
  padding-right: 10px;
  
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a8adb2;
  text-align: right;
  font-size: .9em;
  font-style: italic;
  padding-right: 10px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a8adb2;
  text-align: right;
  font-size: .9em;
  font-style: italic;
  padding-right: 10px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a8adb2;
  text-align: right;
  font-size: .9em;
  font-style: italic;
  padding-right: 10px;
}


  input, select, textarea, button, #zip_code {
    display: block;
    width: 95%;
    margin: auto;
    height: 50px;
    border-style: none;
    border-radius: 7%;
    background-color: #eff0f1;
    color: #b3b8bb;
  }


  #zip_code {
    width: 45%;
    margin: 10px 0 20px 10px;
  }


input[type="radio"],
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  margin-left: 5px;
}

#newsletter label {
  padding: 0;
  margin: -5px;
}

/*Pseudos*/

select:focus, input:focus, textarea:focus {
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.47);
  outline: none;
}


textarea {
  resize: none;
  height: 7em;
}

button {
  background-color: #4ebbb5;
  color: white;
  font-size: 1.2em;
  height: 3.4em;
}

